<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip="loading">
                <a-space direction="vertical">
                    <a-space direction="horizontal">
                        <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">Simpan konfigurasi</a-button>
                        <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">Mulai ulang panel</a-button>
                    </a-space>
                    <a-tabs default-active-key="1">
                        <a-tab-pane key="1" tab="Konfigurasi panel">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="Pemantauan panel IP" desc="Biarkan kosong secara default untuk mendengarkan semua IP，Mulai ulang panel agar berlaku" v-model="allSetting.webListen"></setting-list-item>
                                <setting-list-item type="number" title="Port mendengarkan panel" desc="Mulai ulang panel agar berlaku" v-model.number="allSetting.webPort"></setting-list-item>
                                <setting-list-item type="text" title="Jalur file kunci publik sertifikat panel" desc="Isi satu '/' Jalur absolut di awal, mulai ulang panel untuk diterapkan" v-model="allSetting.webCertFile"></setting-list-item>
                                <setting-list-item type="text" title="Panel certificate key file path" desc="Isi satu '/' Jalur absolut di awal, mulai ulang panel untuk diterapkan" v-model="allSetting.webKeyFile"></setting-list-item>
                                <setting-list-item type="text" title="panel url Jalur akar" desc="Harus dimulai dengan '/' awal，oleh '/' akhir，Mulai ulang panel agar berlaku" v-model="allSetting.webBasePath"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="2" tab="pengaturan pengguna">
                            <a-form style="background: white; padding: 20px">
                                <a-form-item label="nama pengguna asli">
                                    <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="password lama">
                                    <a-input type="password" v-model="user.oldPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="nama baru">
                                    <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="kata sandi baru">
                                    <a-input type="password" v-model="user.newPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item>
                                    <a-button type="primary" @click="updateUser">Merevisi</a-button>
                                </a-form-item>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane key="3" tab="xray Pengaturan terkait">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="textarea" title="xray Template konfigurasi" desc="Hasilkan file konfigurasi xray akhir berdasarkan template ini, dan mulai ulang panel agar berlaku" v-model="allSetting.xrayTemplateConfig"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="4" tab="pengaturan lainnya">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="Zona waktu" desc="Tugas berjangka waktu berjalan sesuai dengan waktu di zona waktu ini, dan mulai ulang panel untuk diterapkan" v-model="allSetting.timeLocation"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                    </a-tabs>
                </a-space>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
{{template "component/setting"}}
<script>

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: {},
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    this.saveBtnDisable = true;
                }
            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = {};
                }
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: 'Mulai ulang panel',
                        content: 'Apakah Anda yakin ingin memulai ulang panel? Klik OK untuk memulai ulang dalam 3 detik. Jika Anda tidak dapat mengakses panel setelah memulai ulang, silakan pergi ke server untuk melihat informasi log panel',
                        okText: 'oke',
                        cancelText: 'batal',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    location.reload();
                }
            }
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(1000);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });

</script>
</body>
</html>
